NODE_ENV=development
PORT=4000
API_PREFIX=api/v1
FRONTEND_URL=http://localhost:3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/bgb_backend?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/bgb_backend?schema=public"
JWT_ACCESS_SECRET=change-me-access-secret
JWT_REFRESH_SECRET=change-me-refresh-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_URL_ENDPOINT=
IMAGEKIT_UPLOAD_FOLDER=/bgb
SEED_ADMIN_NAME=
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
RESEND_API_KEY=
CONTACT_TO_EMAIL=bbgb.asacs@gmail.com
CONTACT_FROM_EMAIL="BGB Website <contact@your-verified-domain.com>"



